<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/libralink"
        android:label="@string/app_name"
        android:roundIcon="@drawable/libralink"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraLink"
        tools:targetApi="31">


        <!-- Add other activities as needed -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity is no longer marked as LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LibraLink">

        </activity>
        <activity
            android:name=".HomePageActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".History"
            android:exported="true">

        </activity>
        <activity
            android:name=".Search"
            android:exported="true">
        </activity>
        <activity
            android:name=".Scan"
            android:exported="true">
        </activity>
        <activity
            android:name=".SearchFragment"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdvancedSearchActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BookDetailsDialogFragment"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BookDetailsDialogFragmentCustom"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



    </application>

</manifest>
